<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="template.css">
    <title>Shop/rewards</title>
</head>
<body>
    
    <div class="top-bar">
        <a href="login.html">Login</a>

        

        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="content">
        <h1>Shop</h1>
<br>
        <div class="shop-grid">
            <figure>
                <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
<figcaption>Caption</figcaption>
            </figure>
            <figure>
                <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
    <figcaption>Caption</figcaption>
                </figure>
                <figure>
                    <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
        <figcaption>Caption</figcaption>
                    </figure>
                    <figure>
                        <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
            <figcaption>Caption</figcaption>
                        </figure>
        </div>
        <div class="section-two">
            <h2>New section</h2>
            <span>This section will shocase some information about the company. Here there can be any information you'd like to add such as links to other parts of the website, Other features that you'd like to be added, or even ways to contact your support team.</span>
        </div>

        <div class="contact">
            <h3>Contact us</h3>
            <span class="disclaimer">These links will only lead you to the main websites instead of to a specific page.</span>
    
            <div class="links">
            <a href="facebook.com">
                <img src="Facebook.png">
            </a>
            <a href="x.com">
                <img src="X.png">
            </a>
            <a href="https://www.instagram.com">
                <img src="Instagram.png">
            </a>
            </div>
        </div>
    </div>
    
    <div class="rewards_section">
      <span id="point_root"></span>
      <span class="reward_label">Free Juice</span>
      <img src="juicephoto.jpg">
      <button class="Reward_button">200 Points</button>
      
      <div class="point_buttons">
        <span>These buttons help show what will happen when you earn enough points to redeem a reward.</span>
        <button id="increase" class="pointB">Increase points</button>
        <button id="decrease" class="pointB">decrease points</button>
      </div>
    </div>

    <div class="order_section">
        <div class="shop-grid">
            <figure>
            <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
<figcaption>Caption</figcaption>
            </figure>
            <figure>
                <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
    <figcaption>Caption</figcaption>
                </figure>
                <figure>
                    <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
        <figcaption>Caption</figcaption>
                    </figure>
                    <figure>
                        <a href='purchase.html'><img src="juicephoto.jpg" class="juice"></a>
            <figcaption>Caption</figcaption>
                        </figure>
        </div>
    </div>

    <div class="sideBar">
        <span>Option 1</span>
        <span>Option 2</span>
        <span>Option 3</span>
    </div>

    <div class="bottom-bar">
        <span class="Order">Order</span>
        <span class="Home">Home</span>
        <span class="reward">Rewards</span>
    </div>


    <script src = 'template.js'></script>
</body>
</html>