table {
    background-color: black;
    margin: auto; 
    margin-top: 10px;  
    align-items: center;
    justify-content: center;
}
th {
    background-color: rgb(182, 180, 180);
    padding: 5px; 
}
td {
    background-color: white;
    padding: 5px;  
    text-align: center;
}
.Delete {
    position: absolute;
    margin-left: 25px;
}