body {
    height: 100vh;
    background-color: rgb(22, 22, 22);
    margin: 0;
    background-image: radial-gradient(rgb(12, 12, 68), rgb(22, 22, 22));
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
    display: none;
}
.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    width: 85%;
    color: white;
    position: relative; 
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.nav span {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.nav span:nth-child(1) {
    color: rgb(145, 202, 250);
}
.name {
    font-size: 22px;
    position: relative;
    left: 10px;
}
.nav {
    font-size: 16px;
    position: absolute;
    right: 10px;
}
.nav span {
    padding-left: 1vw;
}

.burger {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.burger span {
    height: 2px;
    width: 20px;
    background-color: white;
    margin: 2px;
    border-radius: 5px;
}
.burgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: rgb(26, 26, 26);
    color: white;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transition: .5s;
    overflow: hidden;
}
.burgerMenu span {
    margin: 20px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }
    .burger {
        display: flex;
    }
}
.intro {
    margin-top: 150px;
    width: 100vw;
    display: block;
}
.intro h1 {
    background-image: linear-gradient(rgb(73, 227, 238), rgb(45, 143, 255));
    color: transparent;
    background-clip: text;
    font-weight: bold;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 10vw;
    margin-bottom: 0;
}
.intro h2 {
    background-image: linear-gradient(rgb(145, 202, 250), rgb(45, 143, 255));
    color: transparent;
    background-clip: text;
    font-weight: bold;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 9vw;
    margin-top: 0;
}
.description {
    display: flex;
    color: white;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 3vw;
}

.contact {
    display: block;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(30, 30, 30);
    color: white;
    height: 30px;
    width: 120px;
    border-image: linear-gradient(to right, rgb(71, 71, 214), rgb(101, 130, 250)) 1;
    transition: all .2s ease-in-out;
    overflow: hidden;
}
.card {
    display: flex; 
    flex-direction: column;
}
.card span {
    padding: 10px;
}
.intro button:hover {
    border-image: linear-gradient(to right, rgb(130, 130, 239), rgb(103, 197, 247)) 1;
    background-color: rgb(36, 36, 36);
}
.Certifications {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10vh;
}
.Certifications img {
    width: 0vw;
    margin: 20px;
    max-width: 600px;
    visibility: hidden;
    transition: .5s;
}
.certLabels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.html, .css, .JS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.html span, .css span, .JS span {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 3vw;
}
.language {
    font-size: 24px;
}
@media screen and (min-width: 800px) {
    .description {
        font-size: 20px;
    }
    .intro h2 {
        font-size: 80px;
    }
    .intro h1 {
        font-size: 80px;
    }
    .html span, .css span, .JS span {
        font-size: 26px;
    }
}
@media screen and (max-width: 450px) {
    .intro h1 {
        font-size: 12vw;
    }
    .intro h2 {
        margin-bottom: 50px;
        font-size: 8vw;
    }
    .description {
        margin-bottom: 50px;
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 5vw;
    }
    body {
        overflow: hidden;
    }
    .html span, .css span, .JS span {
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 3vw;
    }
}