body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.game {
  border: 2px solid black;
  border-radius: 10px;
  height: auto;
  width: auto; 
  min-width: 300px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 3px #766767;
  z-index: 0;
}
.screen {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  position: relative;
}
.climate {
  width:150px;
  position: absolute;
  bottom: 0;
  left: 0px;
}
.poop {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 32px;
  visibility: hidden;
}
#stats {
    color: black;
    border: 2px solid black;
    width: 70%;
    max-width: 200px;
    font-size: 20px;
    padding: 5px;
    position: relative;;
    bottom: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}
.actions {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;

}
.actions button {
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 2px black;
  
}
.cycle {
  background-image: url('fork.png');
  background-size: cover;
}
.select {
  background-image: url('Game.png');
  background-size: cover;
}
.clean {
  background-image: url('broom.png');
  background-size: cover;
}
.heart {
  width: 30px;
}
.extra {
  background-color: #DEDEDE;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  top: 100px;
}
#clock {
  background-color: rgb(51, 51, 51);
  width: auto;
  padding: 10px;
  position: relative;
  bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}
#clock span {
  color: white; 
}
#hours {
  border: 0;
  width: 15px;
  color: white;
  background-color: rgb(51, 51, 51);
}
#minutes {
  border: 0;
  width: 15px;
  color: white;
  background-color: rgb(51, 51, 51);
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
#am {
  display: none;
}
 #pm {
  display: inline-block;
}
#popup {
  z-index: 1;
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  margin: auto;
  flex-direction: column;
  background-color: #42445A;
  width: auto;
  height: auto;
  padding: 10px;
  box-shadow: 1px 1px 2px black;
}
#popup input {
  margin: 10px;
  width: auto;
}
#popup output, label {
  color: white;
}
.dayCycle {
  display: inline-block;
}